<html>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label for="">
            Dni:
            <input type="text" name="dni">
        </label>
        <label for="">
            Nombre:
            <input type="text" name="nombre">
        </label>
        <button>Iniciar sesión</button>
    </form>

    {{{mensaje}}}
</html>