<h1>Resultados</h1>
Dni: {{{dni}}}
<br>
Nombre: {{{nombre}}}
<a href="/logout">logout</a>

{{#each partidos}}
    <div>
        <p>Partido: {{this}}</p>
    </div>
{{/each}}

{{#each countsArray}}
    <div>
        <p>Partido: {{this}}</p>
    </div>
{{/each}}
